$bg: #1e2228;

$boxShadow: 10px 11px 17px 0px #b5b4d550;

$boxShadowBtn: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.05),
  0px 8px 40px rgba(0, 0, 0, 0.04);

$border: 1px solid rgba(255, 255, 255, 0.09);

$fontSize: 15px;

$primaryColor: #0057ff;
